<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>URL Shortner</h1>
<% if(locals.id){ %>
<p>Generate: http://localhost:4005/api/<%=id %></p>
<% } %>
  <form action="/api/shorten" method="POST">
    <label >Enter Your Original URL</label>
    <input type="text" name="url" placeholder=" https://example">
    <button type="submit">Generate</button>
  </form>
<table>
<th>S.No</th>
<th>ShortID</th>
<th>Redirect</th>
<th>Clicks</th>

<% data.forEach((urls,index) => {%>
  
<tr>
  <td><%= index+1 %></td>
  <td><%= urls.shortId %></td>
  <td><%= urls.url %></td>
  <td><%= urls.visitHistory.length %></td>
</tr>

<%}); %>

</table>



</body>
</html>